.sign-in{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/images/sign-in.jpg");
    background-size: cover;
    background-position-x: 20%;
    background-position: 5% 50%;
    background-repeat:no-repeat ;
    height: 100vh;
}