.books-list-hero-image{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../../assets/images/books-page.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-card:hover .description{
    display: block;
}
.description{
    animation: animate 500ms ease-in-out;
}

@keyframes animate{
    0%{
          opacity:0;
    }
    100%{
         opacity: 1;
    }
}
.chat-text-area{
    height:250px;
    -webkit-box-shadow: inset 0px 0px 41px -19px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 41px -19px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 41px -19px rgba(0,0,0,0.3);
}
.lib-book-bg{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/images/library.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
}